In [40]:
import requests 
import pandas as pd
import seaborn as sb
import numpy as np

In [41]:
api_key = "87983fbe976988a9e22330ebf030a1ae"
url = 'https://api.themoviedb.org/3/movie/155?api_key=' + api_key +'&language=en-US'

In [42]:
response = requests.get(url)

In [43]:
print(response)
json = response.json()
json

<Response [200]>

{'adult': False,
 'backdrop_path': '/pbEkjhdfP7yuDcMB78YEZwgD4IN.jpg',
 'belongs_to_collection': {'id': 263,
  'name': 'The Dark Knight Collection',
  'poster_path': '/hGvOMQBD88jAV0olS2DT1AxreHn.jpg',
  'backdrop_path': '/xfKot7lqaiW4XpL5TtDlVBA9ei9.jpg'},
 'budget': 185000000,
 'genres': [{'id': 18, 'name': 'Drama'},
  {'id': 28, 'name': 'Action'},
  {'id': 80, 'name': 'Crime'},
  {'id': 53, 'name': 'Thriller'}],
 'homepage': 'https://www.warnerbros.com/movies/dark-knight/',
 'id': 155,
 'imdb_id': 'tt0468569',
 'original_language': 'en',
 'original_title': 'The Dark Knight',
 'overview': 'Batman raises the stakes in his war on crime. With the help of Lt. Jim Gordon and District Attorney Harvey Dent, Batman sets out to dismantle the remaining criminal organizations that plague the streets. The partnership proves to be effective, but they soon find themselves prey to a reign of chaos unleashed by a rising criminal mastermind known to the terrified citizens of Gotham as the Joker.',
 'popularity': 70.961,
 'poster_path': '/qJ2tW6WMUDux911r6m7haRef0WH.jpg',
 'production_companies': [{'id': 174,
   'logo_path': '/IuAlhI9eVC9Z8UQWOIDdWRKSEJ.png',
   'name': 'Warner Bros. Pictures',
   'origin_country': 'US'},
  {'id': 429,
   'logo_path': '/2Tc1P3Ac8M479naPp1kYT3izLS5.png',
   'name': 'DC Comics',
   'origin_country': 'US'},
  {'id': 923,
   'logo_path': '/5UQsZrfbfG2dYJbx8DxfoTr2Bvu.png',
   'name': 'Legendary Pictures',
   'origin_country': 'US'},
  {'id': 9996,
   'logo_path': '/3tvBqYsBhxWeHlu62SIJ1el93O7.png',
   'name': 'Syncopy',
   'origin_country': 'GB'},
  {'id': 118865,
   'logo_path': None,
   'name': 'Isobel Griffiths',
   'origin_country': 'GB'}],
 'production_countries': [{'iso_3166_1': 'GB', 'name': 'United Kingdom'},
  {'iso_3166_1': 'US', 'name': 'United States of America'}],
 'release_date': '2008-07-14',
 'revenue': 1004558444,
 'runtime': 152,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'},
  {'english_name': 'Mandarin', 'iso_639_1': 'zh', 'name': '普通话'}],
 'status': 'Released',
 'tagline': 'Welcome to a world without rules.',
 'title': 'The Dark Knight',
 'video': False,
 'vote_average': 8.504,
 'vote_count': 28691}

In [44]:
def requestAllMoviesId():
    pageNum = 1
    ids = []
    while True:
        url = 'https://api.themoviedb.org/3/movie/top_rated?api_key=' + api_key + '&language=en-US&with_genres=28&page={}'.format(pageNum)
        pageNum+=1
        req = requests.get(url)
        reqJson = req.json()
        if not req.ok:
            break
        for i in reqJson['results']:
            ids.append(i['id'])
        
            
    return ids

In [45]:
listofMovies = requestAllMoviesId()
listofMovies[0]

155

In [46]:
def getAlldetails():
    money =[]
    title =[]
    for i in listofMovies:
        url2 = 'https://api.themoviedb.org/3/movie/{}?api_key=87983fbe976988a9e22330ebf030a1ae&language=en-US'.format(i)
        req2=requests.get(url2)
        reqJson2 = req2.json()
        for i in reqJson2:
            if i == 'title':
                title.append(reqJson2['title'])
            if i == 'revenue':
                money.append(reqJson2['revenue'])
    
    return title,money

In [47]:
detailMovie = getAlldetails()
detailMovie[0][0]

'The Dark Knight'

In [49]:
details = {}
details['film'] = detailMovie[0]
details['money'] = detailMovie[1]

In [52]:
df = pd.DataFrame(details)
df.head()
#for i in details['money']:

                                            film       money
0                                The Dark Knight  1004558444
1  The Lord of the Rings: The Return of the King  1118888979
2                                  Seven Samurai      346300
3                      Primal: Tales of Savagery           0
4                              The Legend of Hei    48045728