In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import math
import random
from sklearn.model_selection import train_test_split

In [36]:
df = pd.read_csv("manhattan_rents.csv")
print(df.iloc[20])

rental_id           2172.0
rent                3000.0
bedrooms               0.5
bathrooms              1.0
size_sqft            573.0
min_to_subway         11.0
floor                  8.0
building_age_yrs      31.0
Name: 20, dtype: float64

In [37]:
#Why did we adjust rents
#random()-0.5??

df.dropna(axis=0, inplace=True)
df['bedrooms']=df['bedrooms'].astype(int)
df.drop(['rental_id'], axis=1, inplace=True)
df = df[(df['size_sqft'] > 100)]

In [33]:
df.describe()

,rent,bedrooms,bathrooms,size_sqft,min_to_subway,floor,building_age_yrs
count,3536.000000,3536.000000,3536.000000,3536.000000,3536.000000,3536.000000,3536.000000
mean,5139.029977,1.345871,1.366799,939.841346,4.972002,11.909078,52.011312
std,3164.100385,0.969988,0.599685,478.102754,5.515729,10.965099,39.390748
min,1300.000000,0.000000,0.000000,250.000000,0.000000,0.000000,0.000000
25%,3150.000000,1.000000,1.000000,612.750000,2.000000,4.000000,15.000000
50%,4000.000000,1.000000,1.000000,800.000000,4.000000,8.000000,39.000000
75%,6000.000000,2.000000,2.000000,1141.500000,6.000000,17.000000,90.000000
max,20000.000000,5.000000,5.000000,4800.000000,43.000000,83.000000,180.000000

In [38]:
#Data Normalization: Min-Max scaling
#This turns all the values into a number between 0 and 1

# copy the data
dfmms = df.copy()
  
# apply normalization techniques
for column in dfmms.columns:
    dfmms[column] = (dfmms[column] - dfmms[column].min()) / (dfmms[column].max() - dfmms[column].min())    
  
# view normalized data
print(dfmms)

          rent  bedrooms  bathrooms  size_sqft  min_to_subway     floor  \
0     0.066845       0.0        0.2   0.050549       0.209302  0.024096
1     0.545455       0.4        0.4   0.384615       0.093023  0.012048
2     0.171123       0.2        0.2   0.146374       0.046512  0.614458
3     0.186898       0.2        0.2   0.159341       0.069767  0.096386
4     0.866310       0.4        0.4   1.000000       0.069767  0.048193
...        ...       ...        ...        ...            ...       ...
3534  0.155615       0.2        0.2   0.061978       0.069767  0.096386
3535  0.287433       0.4        0.4   0.162198       0.116279  0.120482
3536  0.021337       0.0        0.2   0.000000       0.046512  0.060241
3537  0.116310       0.2        0.2   0.088132       0.139535  0.060241
3538  0.171123       0.2        0.2   0.124396       0.093023  0.132530

      building_age_yrs
0             0.094444
1             0.533333
2             0.161111
3             0.172222
4             0.755556
...                ...
3534          0.088889
3535          0.050000
3536          0.533333
3537          0.077778
3538          0.050000

[3536 rows x 7 columns]

In [39]:
#selecting only the features we need and making a new data frame

newdf = pd.DataFrame().assign(size_sqft=dfmms['size_sqft'], bathrooms=dfmms['bathrooms'], bedrooms=dfmms['bedrooms'], rent=dfmms['rent'])
newdf.head()
newdf.describe()

         size_sqft    bathrooms     bedrooms         rent
count  3536.000000  3536.000000  3536.000000  3536.000000
mean      0.151613     0.273360     0.269174     0.205296
std       0.105078     0.119937     0.193998     0.169203
min       0.000000     0.000000     0.000000     0.000000
25%       0.079725     0.200000     0.200000     0.098930
50%       0.120879     0.200000     0.200000     0.144385
75%       0.195934     0.400000     0.400000     0.251337
max       1.000000     1.000000     1.000000     1.000000

In [40]:
#Puting data into numpy arrays

#1-d array
y = newdf['rent'].values
#2-d array with weights
X = newdf[['size_sqft', 'bathrooms', 'bedrooms']].values

array([[0.05054945, 0.2       , 0.        ],
       [0.38461538, 0.4       , 0.4       ],
       [0.14637363, 0.2       , 0.2       ],
       ...,
       [0.        , 0.2       , 0.        ],
       [0.08813187, 0.2       , 0.2       ],
       [0.1243956 , 0.2       , 0.2       ]])

In [43]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
print(len(X_train))

2475