In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('titanicDataset.csv')
df.head(5)

,PassengerId,Survived,Class,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
df = df[['Survived', 'Class', 'Sex', 'Age', 'SibSp', 'Parch']]
df['male'] = df['Sex'] == 'male'
df.male = df.male.replace({True: 1, False: 0})
df.drop(['Sex'], axis=1, inplace=True)
print(df)

     Survived  Class   Age  SibSp  Parch  male
0           0      3  22.0      1      0     1
1           1      1  38.0      1      0     0
2           1      3  26.0      0      0     0
3           1      1  35.0      1      0     0
4           0      3  35.0      0      0     1
..        ...    ...   ...    ...    ...   ...
886         0      2  27.0      0      0     1
887         1      1  19.0      0      0     0
888         0      3   NaN      1      2     0
889         1      1  26.0      0      0     1
890         0      3  32.0      0      0     1

[891 rows x 6 columns]

In [4]:
nullvalues = {}

for i, value in enumerate(df['Age']):
    if pd.isna(value):
        nullvalues[i] = value
        
print(nullvalues)

{5: nan, 17: nan, 19: nan, 26: nan, 28: nan, 29: nan, 31: nan, 32: nan, 36: nan, 42: nan, 45: nan, 46: nan, 47: nan, 48: nan, 55: nan, 64: nan, 65: nan, 76: nan, 77: nan, 82: nan, 87: nan, 95: nan, 101: nan, 107: nan, 109: nan, 121: nan, 126: nan, 128: nan, 140: nan, 154: nan, 158: nan, 159: nan, 166: nan, 168: nan, 176: nan, 180: nan, 181: nan, 185: nan, 186: nan, 196: nan, 198: nan, 201: nan, 214: nan, 223: nan, 229: nan, 235: nan, 240: nan, 241: nan, 250: nan, 256: nan, 260: nan, 264: nan, 270: nan, 274: nan, 277: nan, 284: nan, 295: nan, 298: nan, 300: nan, 301: nan, 303: nan, 304: nan, 306: nan, 324: nan, 330: nan, 334: nan, 335: nan, 347: nan, 351: nan, 354: nan, 358: nan, 359: nan, 364: nan, 367: nan, 368: nan, 375: nan, 384: nan, 388: nan, 409: nan, 410: nan, 411: nan, 413: nan, 415: nan, 420: nan, 425: nan, 428: nan, 431: nan, 444: nan, 451: nan, 454: nan, 457: nan, 459: nan, 464: nan, 466: nan, 468: nan, 470: nan, 475: nan, 481: nan, 485: nan, 490: nan, 495: nan, 497: nan, 502: nan, 507: nan, 511: nan, 517: nan, 522: nan, 524: nan, 527: nan, 531: nan, 533: nan, 538: nan, 547: nan, 552: nan, 557: nan, 560: nan, 563: nan, 564: nan, 568: nan, 573: nan, 578: nan, 584: nan, 589: nan, 593: nan, 596: nan, 598: nan, 601: nan, 602: nan, 611: nan, 612: nan, 613: nan, 629: nan, 633: nan, 639: nan, 643: nan, 648: nan, 650: nan, 653: nan, 656: nan, 667: nan, 669: nan, 674: nan, 680: nan, 692: nan, 697: nan, 709: nan, 711: nan, 718: nan, 727: nan, 732: nan, 738: nan, 739: nan, 740: nan, 760: nan, 766: nan, 768: nan, 773: nan, 776: nan, 778: nan, 783: nan, 790: nan, 792: nan, 793: nan, 815: nan, 825: nan, 826: nan, 828: nan, 832: nan, 837: nan, 839: nan, 846: nan, 849: nan, 859: nan, 863: nan, 868: nan, 878: nan, 888: nan}

In [5]:
#1-d array
X = df[['Class', 'male', 'SibSp', 'Parch']].values
#2-d array with weights
y = df['Age'].values

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
print(len(X_train))

623

In [9]:
model = LinearRegression()
model.fit(X_train, y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [ ]:
y_pred = model.predict(X_test)
print(y_pred[0])
for key in nullvalues:
    print("predicted age for index" + str(key) + ": " + str(y_pred[key]))

35.53252992726935
predicted age for index5 - 30.646253518190157
predicted age for index17 - 37.63410002103039
predicted age for index19 - 33.5928581325693
predicted age for index26 - 28.999225245909933
predicted age for index28 - 20.526248769850454
predicted age for index29 - 28.999225245909933
predicted age for index31 - 15.21745510046221
predicted age for index32 - 42.065834608628776
predicted age for index36 - 31.068770778499207
predicted age for index42 - 32.7478236119512
predicted age for index45 - 31.52331259998002
predicted age for index46 - 26.637036190900826
predicted age for index47 - 15.21745510046221
predicted age for index48 - 42.065834608628776
predicted age for index55 - 31.52331259998002
predicted age for index64 - 35.53252992726935
predicted age for index65 - 42.065834608628776
predicted age for index76 - 35.53252992726935
predicted age for index77 - 28.999225245909933
predicted age for index82 - 20.526248769850454
predicted age for index87 - 28.999225245909933
predicted age for index95 - 24.9900079186206
predicted age for index101 - 31.52331259998002
predicted age for index107 - 37.602075459858625
predicted age for index109 - 26.637036190900826
predicted age for index121 - 5.835394981441112
predicted age for index126 - 28.999225245909933
predicted age for index128 - 28.999225245909933
predicted age for index140 - 28.999225245909933
predicted age for index154 - 28.999225245909933
predicted age for index158 - 31.10079533967097
predicted age for index159 - 37.602075459858625
predicted age for index166 - 33.17034087226025
predicted age for index168 - 33.5928581325693
predicted age for index176 - 35.53252992726935
predicted age for index180 - 15.63997236077126
predicted age for index181 - 20.103731509541404
predicted age for index185 - 35.53252992726935
predicted age for index186 - 38.05661728133944
predicted age for index196 - 28.999225245909933
predicted age for index198 - 37.21158276072134
predicted age for index201 - 28.999225245909933
predicted age for index214 - 42.065834608628776

IndexError: index 223 is out of bounds for axis 0 with size 215